body, html {
  margin: 0;
  padding: 0;
}

.app {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    margin: 40px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "title ."
      ". text1"
      ". text2";
  }

  .text {
    font-size: 24px;
  }

  .text1 {
    grid-area: text1;

  }

  .text2 {
    grid-area: text2;
  }
  
  .title {
    grid-area: title;
    margin: 0;
    color: #2F5663;
    font-weight: bold;
    font-size: 67px;
    height: 67px;
  }

  .spacer {
    height: 30px;
  }
  
  input {
    font-size: 20px;
    background-color: #EEE;
    height: 28px;
    border: none;
    border-radius: 3px;
  }
  
  input:focus {
    outline-width: 0;
  }
  
  button {
    font-size: 20px;
    color: #fff;
    background-color: #2F5663;
    border: none;
    border-radius: 3px;
    width: 180px;
    height: 28px;
    margin-left: 8px;
    box-shadow: 2px 2px 5px #aaa;
  }

  button:hover {
    opacity: 85%;
    cursor: pointer;
  }

  @media only screen and (max-width: 960px) {
    .app {
      align-items: flex-start;
      height: 400px;
      padding-top: 60px;
    }

    .row {
      margin: 40px 0;
      display: grid;
      grid-template-areas:
        "title"
        "text1"
        "text2";
    }

    .title {
      font-size: 40px;
      height: 40px;
    }
    .text {
      font-size: 14px;
    }

    input {
      font-size: 14px;
      height: 22px;
    }

    button {
      margin-top: 20px;
      margin-left: 0;
      font-size: 14px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }